dalex==1.5.0
joblib==1.2.0
lightgbm==3.3.5
numpy==1.24.1
pandas==1.5.3
plotly==5.13.0
python-dateutil==2.8.2
pytz==2022.7.1
scikit-learn==1.2.1
scipy==1.10.0
six==1.16.0
tenacity==8.1.0
threadpoolctl==3.1.0
tqdm==4.64.1
nbformat==5.7.3
